<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--ion-fab top right edge>
    <button (click)="newCategoria()" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab-->

  <ion-list>
    <ion-item *ngFor="let categoria of categorias">
      <div (click)="viewCategoria(categoria)">
        <h2>{{ categoria.nome }}</h2>
        <p>{{ categoria.complemento }}</p>
      </div>

      <!--div class="item-note" item-end *ngIf="expression">
        <button ion-button clear (click)="editCategoria(categoria)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button clear (click)="showConfirmDeleteCategoria(categoria.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div-->
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>