page-itens {
    #itemNome {
        float: left;
    }
    #itemCategoriaNome {
        float: right;
    }
    #itemComplemento {
        clear:both;
    }
    #buttonCreate {
        float: right;
    }
    #buttonTrash {
        float: right;
    }
    small {
        font-size: 0.7em;
    }
}
