<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Itens</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top right edge>
    <button (click)="newItem()" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <!--ion-item *ngFor="let item of itens">
      <h2 id="itemNome">{{ item.nome }}</h2>
      <small id="itemCategoriaNome">
        <ion-note color="primary">{{ item.categoria.nome }}</ion-note>
      </small>
      <p id="itemComplemento" *ngIf="item.complemento">{{ item.complemento }}</p>
      <p id="itemComplemento" *ngIf="!item.complemento">Sem complemento</p>

      <div class="item-note">
        <button id="buttonTrash" ion-button clear (click)="deleteItem(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button id="buttonCreate" ion-button clear (click)="editItem(item)">
          <ion-icon name="create"></ion-icon>
        </button>
      </div>
    </ion-item-->

    <ion-item *ngFor="let item of itens">
      <div (click)="viewItem(item)">
        <small>
          <ion-note color="primary">{{ item.nomeCategoria }}</ion-note>
        </small>
        <h2>{{ item.nome }}</h2>
        <p *ngIf="item.complemento">{{ item.complemento }}</p>
        <p *ngIf="!item.complemento">Sem complemento</p>
      </div>

      <div class="item-note" item-end>
        <button ion-button clear (click)="editItem(item)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button clear (click)="showConfirmDeleteItem(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>